body {
    background-image: url(imagenes/fondo2.png);
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#logo {
    width: 200px;
    margin-right: 50%;
    margin-left: 40%;
    opacity: 1;
}
main::selection {
    background-color: gray;
}
#titulo {
    border: solid;
    color: red;
}
#titulo:hover {
    color: blue;
    font-size: 200px;
}
main {
    background-color: gray;
    margin: auto 300px;
    opacity: 0.98;
}
#nav a {
    text-decoration: none;
    color: white;
    margin: 20px;
    color: gray;
}
#nav a:hover {
    color: black;
}
#nav a:active {
    color: white;
    background-color: gray;
}
ul {
    padding-left: 20%;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}
li {
    float: left;
    width: 200px;
    height: 50px;
    text-align: center;
    padding-top: 20px;
    color: black;
}
li:hover {
    background-color: white;
    color: black;
}
main article {
    opacity: 1;
    background-color: gray;
    opacity: 2;
}
main article h2 {
    opacity: 1;
}
#logo {
    opacity: 1;
}
article a {
    text-decoration: underline;
    color: blue;
}
article a:hover {
    text-decoration: none;
    color: black;
}
footer:not(frase_final) {
    background-color: gray;
    text-align: right;
    padding-left: 0;
}
footer p:first-child {
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
}
footer img {
    width: 30px;
}
main .logo img {
    margin-right: 200px;
}
.fotos_articulo {
    width: 300px;
}
h2 {
    font-size: px;
}
#frase_final {
    text-align: left;
}
 * {  
  padding: 0;  
  margin: 0;  
  box-sizing: border-box;  
 }  
 body {  
  font-family: "Montserrat";  
 }  
 section {  
  min-height: 90vh;  
  width: 100%;  
  display: flex;  
  align-items: center;  
  justify-content: center;  
  background-color: aliceblue;  
 }  
 .container {  
  padding: 20px 40px;  
  border: 2px solid black;  
  letter-spacing: 10px;  
  position: relative;  
  text-transform: uppercase;  
  font-size: 24px;  
 }  
 .container::after {  
  content: "";  
  position: absolute;  
  height: 100%;  
  width: 0%;  
  left: 0;  
  top: 0;  
  background-color: rgb(255, 255, 255);  
  mix-blend-mode: difference;  
  animation: loader_bg 3s linear infinite alternate;  
 }  
 @keyframes loader_bg {  
  0% {  
   width: 0;  
  }  
  100% {  
   width: 100%;  
  }  
 }  
